/*
Colors: 
#E54E79; rosa osc
#E56385; rosa claro
#00B2A9; cian
#75726C; gris
#EDE9E2; blanco osc
*/

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navlogo {
    background-image: url(../img/logo-white.png);
}

ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E56385;
    font-weight: 700;
}

ul li {
    display: inline-block
}

ul li a {
    display: inline-block;
    color: #EDE9E2;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

li a:hover {
    background-color: #E54E79;
    color: #EDE9E2;
}

#fotoauto {
    width: 100%;
}

.juego {
    background-color: #00B2A9;
    color: #EDE9E2;
    width: 100%;
    height: 800px;
    display: inline-block;
    font-size: 90px;
    text-align: center;
    vertical-align: center;
    line-height: 200px;
    font-weight: 700;
    right: 400px;
}

.pie {
    background-color: #75726C;
    color: #EDE9E2;
    width: 100%;
    height: 200px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 200px;
}