/*
Colors: 
#E54E79; rosa osc
#E56385; rosa claro
#00B2A9; cian
#75726C; gris
#EDE9E2; blanco osc
*/

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #00b2a9;
    width: 100%;
}


/*Navbar*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-right: 20px;
}

.logo {
    height: 45px;
    position: fixed;
    top: 12px;
    left: 100px;
}

ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E56385;
    font-weight: 700;
}

ul li {
    display: inline-block
}

ul li a {
    display: inline-block;
    color: #EDE9E2;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

li a:hover {
    background-color: #E54E79;
    color: #EDE9E2;
}


/* imagen fondo seccion 2*/

.inscripciones {
    position: static;
    width: 100%;
}

.foto {
    width: 100%;
}


/* Caja Inscripción Conductores */

.box1 {
    background-color: #EDE9E2;
    color: #75726C;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 180px;
    right: 0;
    display: block;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    font-weight: 700;
    padding: 30px;
}

#textbox1 h1 {
    color: #00B2A9;
}

#textbox1 h3 {
    font-weight: 300;
}

.box1 p {
    font-weight: 300;
    line-height: 20px;
}

.phone {
    margin: 10px;
    background-color: #EDE9E2;
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 0 solid #b7b7b7;
    border-bottom-width: 1px;
    font: 15px;
    text-align: left;
    color: #c7c6c0;
    text-overflow: clip;
}

.btn {
    border-radius: 18px;
    box-shadow: 0px 2px 6px #a3a3a3;
    color: #EDE9E2;
    font-size: 16px;
    font-weight: lighter;
    background: #E56385;
    padding: 15px 35px 15px 35px;
    text-decoration: none;
}

.btn:hover {
    background: #E54E79;
    text-decoration: none;
}

#ico {
    position: absolute;
    padding-left: 10px;
    color: #EDE9E2;
}


/* Juego del auto*/

.play {
    background-color: #00B2A9;
    color: #EDE9E2;
    width: 100%;
    height: 500px;
}

.juego {
    width: 100%;
    background-color: #EDE9E2;
    color: #75726C;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    top: 40px;
    text-align: center;
}

.cajon-juego {
    width: 600px;
    height: 240px;
    background-color: #EDE9E2;
    color: #75726C;
    font-size: 20px;
    position: relative;
    z-index: 2;
    top: 3em;
    left: 30%;
    top: 15%;
}

.coordenadas {
    position: absolute;
    margin-top: 20px;
    padding: 25px;
}

#tocomocho {
    display: inline-block;
}

.xizq {
    float: left;
    margin-left: 5px;
}

.yder {
    float: right;
    margin-right: 5px;
}

#coordx {
    margin: 10px;
    background-color: #EDE9E2;
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 0 solid #b7b7b7;
    border-bottom-width: 1px;
    font: 15px;
    text-align: left;
    color: #c7c6c0;
    text-overflow: clip;
}

#coordy {
    margin: 10px;
    background-color: #EDE9E2;
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 0 solid #b7b7b7;
    border-bottom-width: 1px;
    font: 15px;
    text-align: left;
    color: #c7c6c0;
    text-overflow: clip;
}

.botonsote {
    position: absolute;
    top: 140px;
    left: 5px;
}

.btn-start {
    border-radius: 12px;
    box-shadow: 0px 2px 2px #a3a3a3;
    color: #EDE9E2;
    font-size: 16px;
    font-weight: lighter;
    background: #26a69a;
    padding: 15px 270px 15px 270px;
    text-decoration: none;
}

.btn-start :hover {
    background: #00847d;
    text-decoration: none;
}


/* footer */

footer .der {
    float: right;
    margin-right: 400px;
}

.iconos {
    color: #EDE9E2;
}

.izq {
    float: left;
    margin-left: 400px;
}

.footer {
    background-color: #75726C;
    color: #EDE9E2;
    width: 100%;
    height: 120px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    position: relative;
    clear: both;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #706d68;
    float: center;
    margin-right: 20px;
}


/* tablero 


#tablero {
    border: 5px solid #E54E79;
}

.casilla {
    box-sizing: border-box;
    display: inline-block;
    background-color: #75726C;
    padding: 10px;
    font-family: sans-serif;
    width: 10%;
    text-align: center;
}

*/