/*
Colors: 
#E54E79; rosa osc
#E56385; rosa claro
#00B2A9; 
#75726C;
#EDE9E2; blanco osc
*/

body {
    margin: 0;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navlogo {
    background-image: url(../img/logo-white.png);
}

ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E56385;
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    display: inline-block
}

ul li a {
    display: inline-block;
    color: #EDE9E2;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

li a:hover {
    background-color: #E54E79;
    color: #EDE9E2;
}

#fotoauto {
    width: 100%;
}